// TODO: テーマが増えるならもう少し考える
$color_theme_dark_text: #fff;
$color_theme_dark_main: #1b1b1b;
$color_theme_dark_main_light: #313131;
$color_theme_dark_main_light_extra: #3c3c3c;

body .theme-dark {
  background: $color_theme_dark_main_light;
  color: $color_theme_dark_text;
  .app__content > div > .markdown-body,
  .app__content > .markdown-body {
    background: $color_theme_dark_main;
    color: $color_theme_dark_text;
    pre {
      background: $color_theme_dark_main_light;
    }
  }
  .category-list {
    background: $color_theme_dark_main;
  }
  .note-list {
    background: $color_theme_dark_main_light;
    color: inherit;
    &__search {
      background: $color_theme_dark_main;
    }
  }
  .note-list-item {
    &:hover {
      color: $color_theme_dark_main_light;
    }
  }
  .tool {
    &__button {
      .fa-icon {
        color: $color_theme_dark_text !important;
      }
    }
  }
  .editor {
    background: $color_theme_dark_main_light_extra;
    .markdown-body {
      color: $color_theme_dark_text;
      pre {
        background: $color_theme_dark_main_light;
      }
    }
  }
  [class^='button-edit--'] {
    .fa-icon {
      color: $color_theme_dark_text !important;
    }
  }
}
